  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h1>Skill Up!</h1>
        <p><hr></p>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/books">
            <img src="http://placehold.it/500x100/42f498?text=Books" alt="Books">
          </a>
        </div>
        <div class="col-md-6">
          <a href="/authors">
            <img src="http://placehold.it/500x100/40ede7?text=Authors" alt="Authors">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="filter"><h3>Filter Books<h3></label>
          <select class="filter" name="filter">
              <option value="choose">Filter By:</option>
              <option value="all">All Books</option>
              <option value="javascript">JavaScript</option>
              <option value="python">Python</option>
          </select>
        </div>
        <div class="col-md-10">
          {{#each books}}
          <br>
            <div class="book" value="{{this.genre}}">
              <div class="row">
              <div class="col-md-3">
                <a href="/books/{{this.id}}">
                <img src="{{this.cover_url}}" width="225" height="315" class="book_img" />
              </a>
              </div>
              <div class="col-md-7">
                <div><h3><a href="/books/{{this.id}}">{{this.title}}</a></h3></div>
                <div class="genre"><h4>{{this.genre}}</h4></div>
                <div class="description">{{this.description}}</div>
                <br>
                <div class="authors">
                  <p><b>Authors:</b></p>
                  <ol>
                      <li><a href="/authors/{{this.author_id}}">{{this.first_name}} {{this.last_name}}</a></li>
                  </ol>
                </div>
              </div>
              <div class="col-md-2">
                <br><br>
                <a href="/books/{{this.id}}/edit" class="btn btn-sm btn-primary">Edit</a>
                <br><br>
                <form action="/books/{{ this.id }}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-sm btn-danger" name="delete"
                  value="Delete">Delete</button>
                </form>
                <br>
                <br>
              </div>
            </div>
          </div>
          <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>
