<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h1>Skill Up!</h1>
      <p><hr></p>
      <br>
    </div>
    <div class="row">
      <div class="col-md-2">
          <div>
            <a href="/authors">
              <img src="http://placehold.it/100x250/40ede7?text=Authors" alt="Authors">
            </a>
          </div>
          <div>
            <br>
          </div>
          <div>
            <a href="/books">
              <img src="http://placehold.it/100x250/42f498?text=Books" alt="Books">
            </a>
          </div>
        </div>
    <div class="col-md-3">
      <br>
      <img class="book_img" data-caption="{{book.title}}" src="{{book.cover_url}}" height="300" width="225">
    </div>
    <br><br>
    <div class="col-md-6">
      <div><h3>{{book.title}}</h3></div>
      <div><span><b>Genre:</b></span><span> {{book.genre}}</span></div>
      <br>
      <div>{{book.description}}</div>
      <br>
      <div>
        <p><b>Authors: </b></p>
        <ol>
        {{#each book.authors}}
          <li><a href="/authors/{{book.id}}">{{book.first_name}} {{book.last_name}}</a></li>
        {{/each}}
      </ol>
      <br><br>
      <a href="/books/{{book.id}}/edit" class="btn btn-sm btn-primary">Edit</a>
      <br><br>
      <form action="/books/{{ book.id }}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-sm btn-danger" name="delete"
        value="Delete">Delete</button>
      </form>
    </div>
    </div>
  </div>
</div>
