<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h1>Skill Up!</h1>
      <p><hr></p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
        <div>
          <a href="/authors">
            <img src="http://placehold.it/100x250/40ede7?text=Authors" alt="Authors">
          </a>
        </div>
        <div>
          <br>
        </div>
        <div>
          <a href="/books">
            <img src="http://placehold.it/100x250/42f498?text=Books" alt="Books">
          </a>
        </div>
      </div>
    <div class="col-md-3">
      <br>
      <img class="author_img" data-caption="{{author.last_name}}" src="{{author.portrait_url}}" height="300" width="250">
    </div>
    <br><br>
    <div class="col-md-6">
      <div><h3>{{author.first_name}} {{author.last_name}}</h3></div>
      <div>{{author.biography}}</div>
      <br>
      <div>
        <p><b>Bibliography: </b></p>
        <ol>
        {{#each author.title}}
          <li><a href="/books/{{this.id}}">{{this.title}}</a></li>
        {{/each}}
      </ol>
      <br><br>
      <a href="/author/edit/{{author.id}}" class="btn btn-sm btn-primary">Edit</a>
      <br><br>
      <form action="/authors/{{ author.id }}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
  </div>
  </div>
</div>
